<a href="https://colab.research.google.com/github/iltoum/DataAnalysisPython/blob/master/DIPLWMATIKI_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONTENT BASED

In [ ]:
import pandas as pd
!pip install rake-nltk
from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

Requirement already satisfied: rake-nltk in /usr/local/lib/python3.6/dist-packages (1.0.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->rake-nltk) (1.15.0)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving reuters.csv to reuters.csv

In [ ]:
import io
df_reuters = pd.read_csv(io.BytesIO(uploaded['reuters.csv']))

In [ ]:
df_reuters.iloc[0]

web-scraper-order                                          1606153665-2067
web-scraper-start-url    https://www.reuters.com/news/archive/worldNews...
pagination                                                         Earlier
pagination-href          https://www.reuters.com/news/archive/worldNews...
link                     Armenia, Azerbaijan agree to defuse Nagorno-Ka...
link-href                https://www.reuters.com/article/us-armenia-aze...
Title                    Armenia, Azerbaijan agree to defuse Nagorno-Ka...
Date                                                      October 30, 2020
Headline                 GENEVA (Reuters) - The foreign ministers of Ar...
Name: 0, dtype: object

In [ ]:
df_reuters = df_reuters[['Title','Headline']]
df_reuters.head(5)

                                               Title                                           Headline
0  Armenia, Azerbaijan agree to defuse Nagorno-Ka...  GENEVA (Reuters) - The foreign ministers of Ar...
1  Dealing with Trump presidency nemesis Iran won...  WASHINGTON (Reuters) - When reality TV star Do...
2  Exclusive: Russian hackers targeted California...  WASHINGTON (Reuters) - The group of Russian ha...
3  Spain to send more police to Senegal to curb i...  DAKAR (Reuters) - Spain will increase its poli...
4  Canada expects six million COVID-19 vaccine do...  (Reuters) - Canada expects to receive six mill...

In [ ]:
df_reuters['Headline']=df_reuters['Headline'].apply(str)

In [ ]:
df_reuters['Key_words'] = ""

for index, row in df_reuters.iterrows():
    headline = row['Headline']
    
    r = Rake()

    r.extract_keywords_from_text(headline)

    key_words_dict_scores = r.get_word_degrees()
    
    row['Key_words'] = list(key_words_dict_scores.keys())

df_reuters.drop(columns = ['Headline'], inplace = True)

In [ ]:
df_reuters.set_index('Title', inplace = True)
df_reuters.head(5)

                                                                                            Key_words
Title
Armenia, Azerbaijan agree to defuse Nagorno-Kar...  [foreign, ministers, killed, nagorno, fighting...
Dealing with Trump presidency nemesis Iran won'...  [landmark, deal, aimed, stopping, tehran, isla...
Exclusive: Russian hackers targeted California,...  [indiana, email, accounts, knowledge, accordin...
Spain to send more police to Senegal to curb il...  [increase, spain, territory, west, african, co...
Canada expects six million COVID-19 vaccine dos...  [2021, regulatory, approval, parliamentary, co...

In [ ]:
df_reuters['key_words_string'] = [','.join(map(str, l)) for l in df_reuters['Key_words']]
df_reuters

                                                                                            Key_words                                   key_words_string
Title
Armenia, Azerbaijan agree to defuse Nagorno-Kar...  [foreign, ministers, killed, nagorno, fighting...  foreign,ministers,killed,nagorno,fighting,conf...
Dealing with Trump presidency nemesis Iran won'...  [landmark, deal, aimed, stopping, tehran, isla...  landmark,deal,aimed,stopping,tehran,islamic,re...
Exclusive: Russian hackers targeted California,...  [indiana, email, accounts, knowledge, accordin...  indiana,email,accounts,knowledge,according,cal...
Spain to send more police to Senegal to curb il...  [increase, spain, territory, west, african, co...  increase,spain,territory,west,african,coast,da...
Canada expects six million COVID-19 vaccine dos...  [2021, regulatory, approval, parliamentary, co...  2021,regulatory,approval,parliamentary,committ...
...                                                                                               ...                                                ...
Mainland China reports 17 new COVID-19 cases vs...  [health, authority, said, country, ’, mainland...  health,authority,said,country,’,mainland,china...
U.S. accuses eight in alleged plot to harass an...  [criminal, complaint, unsealed, wednesday, chi...  criminal,complaint,unsealed,wednesday,chinese,...
Ethiopia sends army into Tigray region, heavy f...  [addis, ababa, heavy, fighting, flared, attack...  addis,ababa,heavy,fighting,flared,attack,feder...
'People need mountains': Swiss ski resorts buck...  [well, crowds, zermatt, normal, operations, sw...  well,crowds,zermatt,normal,operations,switzerl...
China, Nepal deny Nepali opposition's landgrab ...  [seized, territory, along, nepal, denied, two,...  seized,territory,along,nepal,denied,two,nation...

[1969 rows x 2 columns]

In [ ]:
df_reuters2 = df_reuters.drop('Key_words', 1)
df_reuters2.head(5)

                                                                                     key_words_string
Title
Armenia, Azerbaijan agree to defuse Nagorno-Kar...  foreign,ministers,killed,nagorno,fighting,conf...
Dealing with Trump presidency nemesis Iran won'...  landmark,deal,aimed,stopping,tehran,islamic,re...
Exclusive: Russian hackers targeted California,...  indiana,email,accounts,knowledge,according,cal...
Spain to send more police to Senegal to curb il...  increase,spain,territory,west,african,coast,da...
Canada expects six million COVID-19 vaccine dos...  2021,regulatory,approval,parliamentary,committ...

In [ ]:
count = CountVectorizer()
count_matrix = count.fit_transform(df_reuters['key_words_string'])


indices = pd.Series(df_reuters.index)
indices[:5]

0    Armenia, Azerbaijan agree to defuse Nagorno-Ka...
1    Dealing with Trump presidency nemesis Iran won...
2    Exclusive: Russian hackers targeted California...
3    Spain to send more police to Senegal to curb i...
4    Canada expects six million COVID-19 vaccine do...
Name: Title, dtype: object

In [ ]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim

array([[1.        , 0.03806935, 0.03872015, ..., 0.13043478, 0.04089304,
        0.09567297],
       [0.03806935, 1.        , 0.06780635, ..., 0.03806935, 0.03580574,
        0.04188539],
       [0.03872015, 0.06780635, 1.        , ..., 0.03872015, 0.03641785,
        0.04260143],
       ...,
       [0.13043478, 0.03806935, 0.03872015, ..., 1.        , 0.08178608,
        0.09567297],
       [0.04089304, 0.03580574, 0.03641785, ..., 0.08178608, 1.        ,
        0.04499213],
       [0.09567297, 0.04188539, 0.04260143, ..., 0.09567297, 0.04499213,
        1.        ]])

In [ ]:
def recommendations(Title, cosine_sim = cosine_sim):
    
    recommended_movies = pd.DataFrame()
    
    idx = indices[indices == Title].index[0]

    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
  
    top_10_indexes = list(score_series.index)
    
    for i in top_10_indexes:
        recommended_movies=recommended_movies.append([[df_reuters2.index[i],score_series.loc[i]]])
        
    return recommended_movies

In [ ]:
content=recommendations('Armenia, Azerbaijan agree to defuse Nagorno-Karabakh conflict')

In [ ]:
content.head(10)

                                                   0         1
0  Armenia, Azerbaijan agree to defuse Nagorno-Ka...  1.000000
0  Armenia, Azerbaijan agree to defuse Nagorno-Ka...  0.621874
0  Turkey says Azerbaijan achieved 'sacred succes...  0.430528
0  Armenia, Azerbaijan, Russia say sign deal to e...  0.404577
0  Russia says discussing U.N. presence in Nagorn...  0.383065
0  Azerbaijan's president says deal is signed to ...  0.354005
0  Leader of Nagorno-Karabakh says ceasefire with...  0.344031
0  Putin calls for Turkish involvement in Nagorno...  0.327144
0  Turkey says in talks on how to monitor Karabak...  0.321029
0  Russia reinforces border guards in Armenia aft...  0.318511

In [ ]:
content.to_csv('contentrating.csv')

COLLABORATIVE

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving ratings2.csv to ratings2.csv

In [ ]:
import io
df_ratings = pd.read_csv(io.BytesIO(uploaded['ratings2.csv']))

In [ ]:
df_ratings.head(5)

   UserID                                          ArticleID  Ratings
0       1  Armenia, Azerbaijan agree to defuse Nagorno-Ka...        2
1       1  Dealing with Trump presidency nemesis Iran won...        1
2       1  Exclusive: Russian hackers targeted California...        3
3       1  Spain to send more police to Senegal to curb i...        4
4       1  Canada expects six million COVID-19 vaccine do...        5

In [ ]:
df_ratings = df_ratings.sample(50)
print(df_ratings)

     UserID                                          ArticleID  Ratings
124       3  Polish cardinal accused of sexual abuse dies a...        3
130       3  Syrian satirist questioned over 'Macron' flogg...        2
29        1  Veteran Syrian diplomat Mekdad named foreign m...        5
92        2  Factbox: As mediation calls mount, who has lev...        5
119       3  No more bullying': fresh start to U.S.-Mexico ...        2
323       7  Veteran Syrian diplomat Mekdad named foreign m...        3
171       4  Burkina opposition candidate alleges 'massive ...        2
460      10  Japan opens airport coronavirus test lab for d...        4
54        2             France reports 271 new COVID-19 deaths        2
51        2  Exclusive: Russian hackers targeted California...        3
287       6  Australia alleges military carried out unlawfu...        1
319       7  Italy has 48 hours to approve new COVID-19 res...        2
258       6  COVID-19 cases soar in Brazil's largest indige...        4
338       7  Palestinian Authority resuming cooperation wit...        4
268       6  Taiwan hopes for close U.S. cooperation in cal...        1
237       5  Turkey says it will congratulate U.S. election...        5
415       9  Taiwan hopes for close U.S. cooperation in cal...        1
62        2  COVID-19 cases soar in Brazil's largest indige...        4
385       8  Australia alleges military carried out unlawfu...        4
197       5  Dealing with Trump presidency nemesis Iran won...        5
409       9  South Korea's Moon congratulates Biden, to ens...        2
455      10  England will need five days of lockdown for ea...        5
320       7  Polish cardinal accused of sexual abuse dies a...        2
265       6  Thank you Tegel: Berliners bid emotional farew...        3
289       6  Palestinian Authority resuming cooperation wit...        5
313       7  Japan opens airport coronavirus test lab for d...        5
43        1  Factbox: As mediation calls mount, who has lev...        2
379       8  Pompeo says Europe, U.S. need to work together...        5
13        1  COVID-19 cases soar in Brazil's largest indige...        1
404       9  Gunmen kill at least 11 in attack on Iraqi arm...        5
262       6  South Korea's Moon congratulates Biden, to ens...        2
410       9  Ethiopia's Tigray forces' leader denies region...        3
464      10  Taiwan hopes for close U.S. cooperation in cal...        3
6         1  Pakistan minister deletes tweet containing Mac...        3
221       5  Italy has 48 hours to approve new COVID-19 res...        3
77        2  Poland looks into coronavirus risks at mink farms        5
359       8  Saudi minister Al-Jubeir says Vienna attack is...        3
181       4  U.N. chief congratulates Biden, says U.S. 'ess...        5
93        2  Palestinian Authority resuming cooperation wit...        4
42        1  Australia alleges military carried out unlawfu...        4
134       3  Pompeo says Europe, U.S. need to work together...        1
296       7  Exclusive: Russian hackers targeted California...        3
20        1  Thank you Tegel: Berliners bid emotional farew...        3
348       8             France reports 271 new COVID-19 deaths        4
137       3  Portugal's president ponders COVID-19 state of...        5
413       9  No more bullying': fresh start to U.S.-Mexico ...        3
96        2  Czechs mark anniversary of Velvet Revolution a...        3
368       8  Italy has 48 hours to approve new COVID-19 res...        4
443      10  Exclusive: Russian hackers targeted California...        4
461      10  Thank you Tegel: Berliners bid emotional farew...        4

In [ ]:
raters=df_ratings.groupby(['ArticleID'])['Ratings'].count()
print(raters)

ArticleID
Australia alleges military carried out unlawful killings in Afghanistan               3
Burkina opposition candidate alleges 'massive fraud' ahead of Sunday vote             1
COVID-19 cases soar in Brazil's largest indigenous reservation                        3
Czechs mark anniversary of Velvet Revolution amid pandemic                            1
Dealing with Trump presidency nemesis Iran won't be 'quick, easy' for Biden           1
England will need five days of lockdown for each day relaxed at Christmas: adviser    1
Ethiopia's Tigray forces' leader denies regional capital circled                      1
Exclusive: Russian hackers targeted California, Indiana Democratic parties            3
Factbox: As mediation calls mount, who has leverage in Ethiopia?                      2
France reports 271 new COVID-19 deaths                                                2
Gunmen kill at least 11 in attack on Iraqi army post in Baghdad, sources say          1
Italy has 48 hours to approve new COVID-19 restrictions: Health Minister              3
Japan opens airport coronavirus test lab for departing travellers                     2
No more bullying': fresh start to U.S.-Mexico relations eyed under Biden              2
Pakistan minister deletes tweet containing Macron Nazi jibe                           1
Palestinian Authority resuming cooperation with Israel, Palestinian official says     3
Poland looks into coronavirus risks at mink farms                                     1
Polish cardinal accused of sexual abuse dies aged 97                                  2
Pompeo says Europe, U.S. need to work together to address Turkey                      2
Portugal's president ponders COVID-19 state of emergency                              1
Saudi minister Al-Jubeir says Vienna attack is a crime contrary to all religions      1
South Korea's Moon congratulates Biden, to ensure no gap in U.S. alliance             2
Syrian satirist questioned over 'Macron' flogging stunt in Berlin                     1
Taiwan hopes for close U.S. cooperation in call with Biden adviser                    3
Thank you Tegel: Berliners bid emotional farewell to Cold War airport                 3
Turkey says it will congratulate U.S. election winner once result finalised           1
U.N. chief congratulates Biden, says U.S. 'essential' to global cooperation           1
Veteran Syrian diplomat Mekdad named foreign minister, state media says               2
Name: Ratings, dtype: int64

In [ ]:
data=df_ratings.merge(raters,on='ArticleID')
data['count']=data['Ratings_y']
data['Ratings']= data['Ratings_x']
data.drop(['Ratings_x','Ratings_y'],axis=1,inplace=True)

In [ ]:
data.head(5)

   UserID                                          ArticleID  count  Ratings
0       3  Polish cardinal accused of sexual abuse dies a...      2        3
1       7  Polish cardinal accused of sexual abuse dies a...      2        2
2       3  Syrian satirist questioned over 'Macron' flogg...      1        2
3       1  Veteran Syrian diplomat Mekdad named foreign m...      2        5
4       7  Veteran Syrian diplomat Mekdad named foreign m...      2        3

In [ ]:
data.shape

(50, 4)

In [ ]:
selfjoined = data.merge(data,on='UserID')

In [ ]:
selfjoined.head(5)

   UserID  ... Ratings_y
0       3  ...         3
1       3  ...         2
2       3  ...         2
3       3  ...         1
4       3  ...         5

[5 rows x 7 columns]

In [ ]:
selfjoined = selfjoined[selfjoined['ArticleID_x']<selfjoined['ArticleID_y']]

In [ ]:
import numpy as np
selfjoined['r1r2'] = selfjoined['Ratings_x']*selfjoined['Ratings_y']
selfjoined['r1square'] = np.square(selfjoined['Ratings_x'])
selfjoined['r2square'] = np.square(selfjoined['Ratings_y'])

In [ ]:
selfjoined.head(5)

    UserID  ... r2square
1        3  ...        4
3        3  ...        1
4        3  ...       25
10       3  ...        9
11       3  ...        4

[5 rows x 10 columns]

In [ ]:
aggdata=selfjoined.groupby(['ArticleID_x','ArticleID_y'])['Ratings_x','Ratings_y','r1r2','r1square','r2square','count_x','count_y'].sum()
aggdata.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                                                                                       Ratings_x  ...  count_y
ArticleID_x                                        ArticleID_y                                                    ...
Australia alleges military carried out unlawful... COVID-19 cases soar in Brazil's largest indigen...          5  ...        6
                                                   Factbox: As mediation calls mount, who has leve...          4  ...        2
                                                   France reports 271 new COVID-19 deaths                      4  ...        2
                                                   Italy has 48 hours to approve new COVID-19 rest...          4  ...        3
                                                   Pakistan minister deletes tweet containing Macr...          4  ...        1

[5 rows x 7 columns]

In [ ]:
n=aggdata.shape[0]

In [ ]:
aggdata['corelation'] = (n*aggdata['r1r2'] - aggdata['Ratings_x']*aggdata['Ratings_y']) / \
np.sqrt((n * aggdata['r1square']  - np.square(aggdata['Ratings_x']))*(n * aggdata['r2square']  - np.square(aggdata['Ratings_y'])))

In [ ]:
aggdata['corelation'] = aggdata['corelation']*n/(n+50)

In [ ]:
aggdata.reset_index(inplace=True)
aggdata.head(5)

                                         ArticleID_x  ... corelation
0  Australia alleges military carried out unlawfu...  ...   0.309532
1  Australia alleges military carried out unlawfu...  ...   0.668874
2  Australia alleges military carried out unlawfu...  ...   0.668874
3  Australia alleges military carried out unlawfu...  ...   0.668874
4  Australia alleges military carried out unlawfu...  ...   0.668874

[5 rows x 10 columns]

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving reuters.csv to reuters (1).csv

In [ ]:
import io
df_articles = pd.read_csv(io.BytesIO(uploaded['reuters.csv']))

In [ ]:
df_articles = df_articles[['Title','Headline']]
df_articles.head(5)

                                               Title                                           Headline
0  Armenia, Azerbaijan agree to defuse Nagorno-Ka...  GENEVA (Reuters) - The foreign ministers of Ar...
1  Dealing with Trump presidency nemesis Iran won...  WASHINGTON (Reuters) - When reality TV star Do...
2  Exclusive: Russian hackers targeted California...  WASHINGTON (Reuters) - The group of Russian ha...
3  Spain to send more police to Senegal to curb i...  DAKAR (Reuters) - Spain will increase its poli...
4  Canada expects six million COVID-19 vaccine do...  (Reuters) - Canada expects to receive six mill...

In [ ]:
df_articles.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
aggdata1=aggdata.merge(df_articles,left_on='ArticleID_x',right_on='Title')
aggdata2=aggdata1.merge(df_articles,left_on='ArticleID_y',right_on='Title')

In [ ]:
aggdata2.head(20)

                                          ArticleID_x  ...                                         Headline_y
0   Australia alleges military carried out unlawfu...  ...  BRASILIA (Reuters) - The coronavirus has sprea...
1   Australia alleges military carried out unlawfu...  ...  NAIROBI (Reuters) - Ethiopia has rebuffed atte...
2   COVID-19 cases soar in Brazil's largest indige...  ...  NAIROBI (Reuters) - Ethiopia has rebuffed atte...
3   Czechs mark anniversary of Velvet Revolution a...  ...  NAIROBI (Reuters) - Ethiopia has rebuffed atte...
4   Exclusive: Russian hackers targeted California...  ...  NAIROBI (Reuters) - Ethiopia has rebuffed atte...
5   Australia alleges military carried out unlawfu...  ...  PARIS (Reuters) - The number of people to die ...
6   COVID-19 cases soar in Brazil's largest indige...  ...  PARIS (Reuters) - The number of people to die ...
7   Czechs mark anniversary of Velvet Revolution a...  ...  PARIS (Reuters) - The number of people to die ...
8   Exclusive: Russian hackers targeted California...  ...  PARIS (Reuters) - The number of people to die ...
9   Factbox: As mediation calls mount, who has lev...  ...  PARIS (Reuters) - The number of people to die ...
10  Australia alleges military carried out unlawfu...  ...  ROME (Reuters) - Italy’s health minister said ...
11  Dealing with Trump presidency nemesis Iran won...  ...  ROME (Reuters) - Italy’s health minister said ...
12  Exclusive: Russian hackers targeted California...  ...  ROME (Reuters) - Italy’s health minister said ...
13             France reports 271 new COVID-19 deaths  ...  ROME (Reuters) - Italy’s health minister said ...
14  Australia alleges military carried out unlawfu...  ...  PARIS (Reuters) - A Pakistani minister on Sund...
15  COVID-19 cases soar in Brazil's largest indige...  ...  PARIS (Reuters) - A Pakistani minister on Sund...
16  Factbox: As mediation calls mount, who has lev...  ...  PARIS (Reuters) - A Pakistani minister on Sund...
17  Australia alleges military carried out unlawfu...  ...  RAMALLAH, West Bank (Reuters) - The Palestinia...
18  COVID-19 cases soar in Brazil's largest indige...  ...  RAMALLAH, West Bank (Reuters) - The Palestinia...
19  Czechs mark anniversary of Velvet Revolution a...  ...  RAMALLAH, West Bank (Reuters) - The Palestinia...

[20 rows x 14 columns]

In [ ]:
def recommendation(Title):
    recommended_movies = []
    data =aggdata2[aggdata2['Title_x']==Title]
    data = data.sort_values(by='corelation',ascending=False)
    return data

In [ ]:
collabaritive=recommendation('England will need five days of lockdown for each day relaxed at Christmas: adviser')[['Title_y','corelation']]
collabaritive['Title'] = collabaritive['Title_y'].str.split(' \(').str.get(0)
collabaritive.drop('Title_y',axis=1,inplace=True)
collabaritive.head(5)

    corelation                                              Title
40    0.668874  Taiwan hopes for close U.S. cooperation in cal...
49    0.668874  Thank you Tegel: Berliners bid emotional farew...
71    0.668874  Exclusive: Russian hackers targeted California...
80    0.668874  Japan opens airport coronavirus test lab for d...

HYBRID

In [ ]:
contentrating = pd.read_csv('contentrating.csv')
contentrating.head(10)

   Unnamed: 0                                                  0         1
0           0  Armenia, Azerbaijan agree to defuse Nagorno-Ka...  1.000000
1           0  Armenia, Azerbaijan agree to defuse Nagorno-Ka...  0.621874
2           0  Turkey says Azerbaijan achieved 'sacred succes...  0.430528
3           0  Armenia, Azerbaijan, Russia say sign deal to e...  0.404577
4           0  Russia says discussing U.N. presence in Nagorn...  0.383065
5           0  Azerbaijan's president says deal is signed to ...  0.354005
6           0  Leader of Nagorno-Karabakh says ceasefire with...  0.344031
7           0  Putin calls for Turkish involvement in Nagorno...  0.327144
8           0  Turkey says in talks on how to monitor Karabak...  0.321029
9           0  Russia reinforces border guards in Armenia aft...  0.318511

In [ ]:
hybrid=contentrating.merge(collabaritive,left_on='0',right_on='Title')
hybrid=hybrid[['Title','1','corelation']]
hybrid['wcorelation'] = (hybrid['1'] + hybrid['corelation'])/2

In [ ]:
hybrid.head(5)

                                               Title  ...  wcorelation
0  Japan opens airport coronavirus test lab for d...  ...     0.381062
1  Thank you Tegel: Berliners bid emotional farew...  ...     0.357188
2  Taiwan hopes for close U.S. cooperation in cal...  ...     0.354501
3  Exclusive: Russian hackers targeted California...  ...     0.353797

[4 rows x 4 columns]

In [ ]:
hybrid.to_csv('hybridsystem.csv')